body,html{
width:100%;
height:100%;
background-color:#000000;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}


table{
width:400px;
background-color:#000000;
border-style:solid;
border-width:2px;
border-color:#19FF00;
min-height:300px;




}
#con{
width:400px;
margin:auto;

}
.name{
color:#FF0000;
font-size:30px;
text-align:center;
}
.score{
color:#0004FF;
font-size:35px;
text-align:center;
}
tr{
border-bottom-style:solid;
border-bottom-color:#19FF00;
border-bottom-width:2px;
}
th{
color:#ffffff;
font-size:35px;
}
img{
display:block;
width:450x;
height:300px;
margin:auto;

}